* {
  margin: 0;
  padding: 0;
}

figure{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

footer{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 1rem;
}
  footer * {
    margin-left: .5rem;
    margin-right: .5rem;
  }

h1{
  font-family: 'Noto Sans', sans-serif;
  margin-left: 0.1rem;
}
h2{
  font-family: 'Noto Sans', sans-serif;
}
p{
  font-family: 'Noto Sans', sans-serif;
}

li {
  font-family: 'Noto Sans', sans-serif;
  list-style-type: none;
}

input{
  width: 100%;
}

section{
  margin-bottom: 2rem;
}
#menubar{
  margin-bottom: 0rem;
}

.hidden{
  display: none;
}

.container {
  display: flex;
}

.background{
  height: 35rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  /* background-image: url('images/sea_above.jpg') */
}
  .background h1{
    position: absolute;
    bottom: 10px;
    left: 14px;
    color: white;
    font-size: 3rem;
  }

.map {
  height: 45rem;
  background-color: darkgray;
  width: 75%;
  /* display: block; */
}

.person {
  height: 45rem;
  background-color: gray;
  width: 25%;
}

.slider {
  margin: .5rem;
  width:  80%;
}

.title {
  background-image: url('images/sea_above.jpg');
}

.dropdown {
  justify-content: center;
  margin: 10rem 0rem;
}
  .dropdown input{
    padding: .5rem .25rem;
    outline: none;
  }

.dropdown-button{
  background-color: lightgray;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}
.dropdown-header{
  display: flex;
}

.text{
  width: 60%;
  margin: auto;
}

.article {
  display: flex;
}
  .article p {
    margin-bottom: 1em;
  }
    .article .paragraph::first-letter{
      color: black;
      float: left;
      font-family: Georgia;
      font-size: 75px;
      line-height: 60px;
      padding-top: 4px;
      padding-right: 8px;
      padding-left: 3px;
    }

.sidebar-button{
  position: fixed;
  z-index: 10001;
  height: 50px;
  width: 50px;
  background-color: lightgrey;
  cursor: pointer;
}
.rotate{
  transition: 0.1s;
  transform: rotate(90deg);
}

.sidebar{
  position: fixed;
  max-width: 40%;
  height: 100%;
  z-index: 10000;
  background-color: lightgrey;
  /* How do we get the transition thing working? */
  transition: 5s;}
  .sidebar h2{
  margin-right: 2rem;
  margin-left: 1rem;
  }
  .sidebar input{
    outline: none;
    border: none;
    background-color: lightgray;
    background-image: url('images/search-icon.svg');
    background-repeat: no-repeat;
    padding-left: 1.25rem;
    margin: 0px 10px;
  }

.language-options{
  position: relative;
  left:  6rem;
}


.splash {
  display: flex;
  flex-direction: column;
  background-image: url('images/space_1.jpg');
  height: 45rem;
}
  .splash h2{
    color: white;
  }
  .splash form, div, ul{
    margin: auto;
  }
  .splash form{
    margin-bottom: 0;
    margin-top: 230.5px;
  }
    .splash form input{
      padding: .5rem .25rem;
      outline: none;
    }
  .splash div{
    margin-top: 0;
  }
    .splash div:first-child {
      display: flex;
    }
  .splash ul{
    max-height: 10rem;
    overflow: scroll;
  }

